*{
  padding: 0;
  margin: 0;
  font-family: 'ZhuZiAWan';
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background-color:   #f7f9fe;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}